<%- include('./partials/header');-%>
<%- include('./partials/flash');-%>

<div class="Golu">
        <div class="button">
                <button class="button button2"><a href ="/booking">Book Appointment</a></button>
                </div>
</div>
<%- include('./partials/footer');-%>
